.profile-img {
    clip-path: circle();
}

.background-img {
    position: relative;
    isolation: isolate;
}

.background-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(to right, transparent, mistyrose);
    opacity: .4;
    background-image: url('https://i.redd.it/4fxxbm4opjd31.jpg');
    background-position: top;
}

