.selected {
  color: red;
}

/**** User Details view ***/

.user-vote-list {
  display: flex;
  gap: 15px;
}

.liked-movie {
  border: 1px solid green;
}

.disLiked-movie {
  border: 1px solid red;
}

.poster-and-icon {
  position: relative;
}

.heart-icon {
  color: green;
  font-size: 30px;
  position: absolute;
  top: 90px;
  left: 50px;
}

.crack-heart-icon {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.eye-slash-icon {
  color: yellow;
  font-size: 30px;
  position: absolute;
  top: 220px;
  left: 50px;
}



/*** watchlist ***/

.watchlist-movie {
  display: flex;

}

.movie-info {
  line-height: 2px;
  margin-bottom: 10px;
}

.ignore {
  color: rgb(176, 176, 22);
}